<div class="bs-full-width bs-pt-24 bs-pl-16">
  <h1 class="bs-color-primary">{{summaryModel?.productName}}</h1>
  <div class="bs-pb-16 bs-pt-24 bs-color-primary bs-pl-24 bs-pr-24 bs-flex bs-flex--space-between bs-full-width">
    <span class="bsl-summary-item-title">Equalization Fee Revenue</span>
    <span class="bsl-summary-item-value">
      <span>(+)</span>
      <span class="bs-pr-32 bs-pl-32">{{ summaryModel?.feeRevenue | currency:'BRL' }}</span>
    </span>
    <button mat-icon-button
            class="bs-no-print"
            (click)="openDetails(summaryModel?.feeRevenueDetailLink)">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="bs-pb-16 bs-pt-24 bs-color-primary bs-pl-24 bs-pr-24 bs-flex bs-flex--space-between bs-full-width">
    <span class="bsl-summary-item-title">TAC Fee Revenue</span>
    <span class="bsl-summary-item-value">
      <span>(+)</span>
      <span class="bs-pr-32 bs-pl-32">{{summaryModel?.creditRateRevenue | currency:'BRL'}}</span>
    </span>
    <button mat-icon-button
            class="bs-no-print"
            (click)="openDetails(summaryModel?.creditRateRevenueDetailLink)">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="bs-pb-16 bs-pt-24 bs-color-primary bs-pl-24 bs-pr-24 bs-flex bs-flex--space-between bs-full-width">
    <span class="bsl-summary-item-title">Interest and arrears revenue (20% of the total amount collected)</span>
    <span class="bsl-summary-item-value">
      <span>(+)</span>
      <span class="bs-pr-32 bs-pl-32">{{summaryModel?.interestAndArrearsRevenue | currency:'BRL'}}</span>
    </span>
    <button mat-icon-button
            class="bs-no-print"
            (click)="openDetails(summaryModel?.interestAndArrearsRevenueDetailLink)">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="bs-pb-16 bs-pt-24 bs-color-error bs-pl-24 bs-pr-24 bs-flex bs-flex--space-between bs-full-width">
    <span class="bsl-summary-item-title">Reimbursement of Operating Expenses</span>
    <span class="bsl-summary-item-value">
      <span>(-)</span>
      <span class="bs-pr-32 bs-pl-32">{{summaryModel?.operatingExpensesReimbursement | currency:'BRL'}}</span>
    </span>
    <button mat-icon-button
            class="bs-no-print"
            (click)="openDetails(summaryModel?.operatingExpensesReimbursementDetailLink)">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="bs-pb-16 bs-pt-24 bs-color-error bs-pl-24 bs-pr-24 bs-flex bs-flex--space-between bs-full-width">
    <span class="bsl-summary-item-title bs-flex bs-flex--column">
      <span>Tax Refund</span>
      <span class="bs-color-black-2 bs-full-width">
        Note: 4.65% PIS and Cofins on interest income and TC + 5% ISS on service revenue, TC.
      </span>
    </span>
    <span class="bsl-summary-item-value">
      <span>(-)</span>
      <span class="bs-pr-32 bs-pl-32">{{summaryModel?.taxRefunds | currency:'BRL'}}</span>
    </span>
    <button mat-icon-button
            class="bs-no-print"
            (click)="openDetails(summaryModel?.taxRefundsDetailLink)">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="bs-pt-16 bs-color-primary bs-pl-8 bs-pr-24 bs-flex bs-flex--space-between bs-full-width">
    <h2 class="bs-color-primary">Net equalization to pay</h2>
    <h2 class="bs-color-primary"
        style="min-width: 35%;">{{summaryModel?.netEqualization | currency:'BRL'}}</h2>
  </div>
</div>